{
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 140,
  "semi": true,
  "arrowParens": "avoid"
}
