<h2 i18n>What is this webpage?</h2>
<div i18n>This page is the showcase of sandbox projects made by organization of developers that once were or are currently
  working together.
</div>
<h2 i18n>What's the purpose of this organization</h2>
<div i18n>The purpose of this organization is mainly to solve the struggle for never ending process of education. Sometimes
  there is a need to try out things, framework updates, or even well known concepts. The motivation for this urge is
  usually lowered by several factors. First is our non IT hobbies and leisure activities that look far more appealing
  after a work day. Second is the fact that nobody is going to see the result (artifact) of our self-education labour.
  By making a both social and entertaining atmosphere it is intended to give a creative boost toa everyone involved.
</div>
