<div class="ornament-1"></div>
<header>
  <nav>
    <a id="logo" routerLink="/" rel="home"><img src="assets/logo.svg" alt="logo" width="50" height="50"></a>
    &nbsp;
    @for (headerItem of headerItems; track headerItem; let isLast = $last) {
      <a [attr.id]="headerItem.id" [routerLink]="headerItem.link" routerLinkActive="active">{{headerItem.title}}</a>{{ isLast ? '' : ' | '}}
    }
  </nav>
</header>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
<footer>
  apus-apus.dev 2023. Content is available under a Creative Commons license.
</footer>
<div class="ornament-1"></div>
