<form [formGroup]="financeForm" (ngSubmit)="handleSubmitDaily()">
  @if (financeData.viewModel; as vm) {
    <div>
      <div>Today spent: {{ vm.spentToday }}</div>
      <div>Today allowed: {{ vm.allowedToSpendToday }}</div>
      <div>Total spent: {{ vm.totalSpent }}</div>
    </div>
  }
  <input type="number" formControlName="amount">
  <button type="submit">Add amount</button>
</form>
<br>
  <div>
    @if (!isSettingsShown) {
      <button (click)="isSettingsShown = true">settings</button>
    }
    @if (isSettingsShown) {
      <form [formGroup]="settingsForm" (ngSubmit)="handleSaveSettings()">
        <input type="number" id="spentToday" formControlName="spentToday">
        <label for="spentToday">spentToday</label><br>
        <input type="number" id="monthBudget" formControlName="monthBudget">
        <label for="monthBudget">monthBudget</label><br>
        <input type="number" id="payDate" formControlName="payDate">
        <label for="payDate">payDate</label><br>
        <input type="number" id="periodAmount" formControlName="periodAmount">
        <label for="periodAmount">periodAmount</label><br>
        <input type="number" id="dailyAmount" formControlName="dailyAmount">
        <label for="dailyAmount">dailyAmount</label><br>
        <button type="submit">Save</button>
      </form>
    }
  </div>
