@import "variables";

$texture-1-width: $pixel-multiplier * 32;
$texture-1-height: $pixel-multiplier * 32;

body {
  margin: 0;
  background-image: url("assets/background-1.png");
  background-repeat: repeat;
  background-size: $texture-1-width $texture-1-height;
  image-rendering: pixelated;
}
